p,.centralizar{
	text-align: center;
}
body{ background-color:#000000;
		color: #ffffff;
}
 

h1{
	color:#ff0000;
}

h1,h2{
	color: #0000FF;
}
#banner {
		width: 100%
}
.items {
	font-style: bold;
	list-style: none;
}

#beneficios{
	width:50%;
}

ul{
	display: inline-block;
	width: 20%;
	margin-right: 15%;
	vertical-align: top;
}